EXPO_PUBLIC_SUPABASE_URL=https://cssaliwgndzygrbbwixj.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNzc2FsaXdnbmR6eWdyYmJ3aXhqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkzNTQxMzAsImV4cCI6MjA3NDkzMDEzMH0.HIkibE46m-eafruxqb_wVa2KEZGyR8on2Dj5VyCRtB4